<!-- Jumbotron Part -->

<div class="jumbotron jumbotron-fluid text-center">
        <div class="container">

              <figure class="figure">
                <img src="../../../assets/crying_pepe.png" class="rounded-circle" alt="...">
              
              </figure>
              <h1 class="mat-headline">
                Hello, I am Hyunse Seo.
                <p></p>
                Welcome to visit my Resume Page!
              </h1>
              <div class="div">

                <a class="fa fa-github-square my-1 p-2" href="https://github.com/HoneyHyunny"  style="font-size:60px;color:purple;"> </a>
                <a class="fa fa-linkedin-square my-1 p-2" href="https://www.linkedin.com/in/%ED%98%84%EC%84%B8-%EC%84%9C-32b320200/"  style="font-size:60px;"></a>
                <a class="fa fa-facebook-square my-1 p-2" href="https://www.facebook.com/hyunse.seo" style="font-size:60px;color:blue;"></a>
    
              </div>
        </div>
</div>

<!-- Jumbotron Part End -->

<!-- edit form -->
<div *ngIf="isUserAuthenticated">
  <app-edit></app-edit>

</div>

<!-- edit form end -->

<!-- education -->
<div class="" id="EDUCATION">
  <div class="mx-auto" style="width: 200px;">
    <h1 class="mat-display-1">EDUCATION</h1>
  </div>
 
  <!-- ngfor 인식을위해 fake div로 묶었음. -->
  <div class="div" *ngFor="let board of boards">
    <div class="media text-muted pt-1 m-3" *ngIf="board.boardCategory == '1'">
  
    
      <div class="media-body pb-3 large lh-125 border-bottom border-gray" >
        <div class="row">
            <!-- 상단 제목 및 기간 디바이딩 -->
            <div class="col-sm">     
                <h1 class="mat-display-1">{{board.mainTitle}} </h1>
            </div>
            <div class="col-sm">
                
            </div>
            <div class="col-sm">
            <h1>{{board.date}} </h1>
            </div>
        </div>
        <div class="row">
          <div class="col">
            <h1>    {{board.extraTitle}}  </h1>
          </div>
  
        </div>
       
          <h2>
            {{board.contents}} 
          </h2>  
      </div>

  </div>

    <small class="d-block text-right mt-4 "  *ngIf="isUserAuthenticated && userId === board.createdBy" role="button">
      
        <a type="button" class="btn btn-outline-info" [routerLink]="['/edit', board.id]" >Edit</a>
      <!-- button click event for deleting board. -->
        <a type="button" class="btn btn-outline-danger m-2" (click)="onDelete(this.board.id)">Delete</a>


    </small>
  </div>

 <!-- education end -->

    <div id="WorkExperiences">
      <div class="jumbotron jumbotron-fluid">
        <div class="mx-auto" style="width:300px;">
          <h1 class="mat-display-1">Work Experiences</h1>
        </div>
        <div class="div" *ngFor="let board of boards">
          <div class="media text-muted pt-1 m-3" *ngIf="board.boardCategory == '2'">
        
          
            <div class="media-body pb-3 large lh-125 border-bottom border-gray" >
              <div class="row">
                  <!-- 상단 제목 및 기간 디바이딩 -->
                  <div class="col-sm">     
                      <h1 class="mat-display-1">{{board.mainTitle}} </h1>
                  </div>
                  <div class="col-sm">
                      
                  </div>
                  <div class="col-sm">
                  <h1>{{board.date}} </h1>
                  </div>
              </div>
              <div class="row">
                <div class="col">
                  <h1>    {{board.extraTitle}}  </h1>
                </div>
        
              </div>
             
                <h2>
                  {{board.contents}} 
                </h2>  
            </div>
 
    
      </div>  

      <small class="d-block text-right mt-4 "  *ngIf="isUserAuthenticated && userId === board.createdBy" role="button">
      
        <a type="button" class="btn btn-outline-info" [routerLink]="['/edit', board.id]" >Edit</a>
      <!-- button click event for deleting board. -->
        <a type="button" class="btn btn-outline-danger m-2" (click)="onDelete(this.board.id)">Delete</a>
      </small>

    </div>
</div>
</div>
  
      <!-- board1 -->
      <div class="mx-auto" style="width:200px;">
        <h1 class="mat-display-1">Projects</h1>
      </div>
      <div class="div" *ngFor="let board of boards">
        <div class="media text-muted pt-1 m-3" *ngIf="board.boardCategory == '3'">
      
        
          <div class="media-body pb-3 large lh-125 border-bottom border-gray" >
            <div class="row">
                <!-- 상단 제목 및 기간 디바이딩 -->
                <div class="col-sm">     
                    <h1 class="mat-display-1">{{board.mainTitle}} </h1>
                </div>
                <div class="col-sm">
                    
                </div>
                <div class="col-sm">
                <h1>{{board.date}} </h1>
                </div>
            </div>
            <div class="row">
              <div class="col">
                <h1>    {{board.extraTitle}}  </h1>
              </div>
      
            </div>
           
              <h2>
                {{board.contents}} 
              </h2>  
          </div>
    
      </div>
    
        <small class="d-block text-right mt-4 "  *ngIf="isUserAuthenticated && userId === board.createdBy" role="button">
          
            <a type="button" class="btn btn-outline-info" [routerLink]="['/edit', board.id]" >Edit</a>
          <!-- button click event for deleting board. -->
            <a type="button" class="btn btn-outline-danger m-2" (click)="onDelete(this.board.id)">Delete</a>
    
    
        </small>
      </div>

  
  
        <h1 class="mat-display-1 text-center">Tool Experiences</h1>
        <table class="table table-sm table-borderless">
          <tbody>
            <tr>
              
              <th scope="row"></th>
              <td><img src="../../../assets/skills-prgramminglanguage-logo/angular.svg"  class="my-1 p-1" width="64" height="64" alt="Angular"></td>
              <td><img src="../../../assets/skills-prgramminglanguage-logo/bootstrap.svg" class="my-1 p-1" width="64" height="64" alt="bootstrap"></td>
              <td><img src="../../../assets/skills-prgramminglanguage-logo/c-sharp.svg" class="my-1 p-1" width="64" height="64" alt="c-sharp"></td>
              <td><img src="../../../assets/skills-prgramminglanguage-logo/css.svg" class="my-1 p-1" width="64" height="64" alt="css"></td>
              <td><img src="../../../assets/skills-prgramminglanguage-logo/github.svg" class="my-1 p-1" width="64" height="64" alt="github"></td>
              <td><img src="../../../assets/skills-prgramminglanguage-logo/heroku.svg" class="my-1 p-1" width="64" height="64" alt="heroku"></td>
              <td><img src="../../../assets/skills-prgramminglanguage-logo/html.svg" class="my-1 p-1" width="64" height="64" alt="html"></td>   
             
            </tr>
            <tr>
              <th scope="row"></th>
            <td><img src="../../../assets/skills-prgramminglanguage-logo/mongodb.svg" class="my-1 p-1" width="64" height="64" alt="mongodb"></td>             
              <td><img src="../../../assets/skills-prgramminglanguage-logo/nodejs.svg" class="my-1 p-1" width="64" height="64" alt="nodejs"></td>      
              <td><img src="../../../assets/skills-prgramminglanguage-logo/npm.svg"  class="my-1 p-1"width="64" height="64" alt="npm"></td>     
              <td> <img src="../../../assets/skills-prgramminglanguage-logo/python.svg" class="my-1 p-1" width="64" height="64" alt="python"></td>              
              <td><img src="../../../assets/skills-prgramminglanguage-logo/typescript.svg" class="my-1 p-1" width="64" height="64" alt="typescript"></td>
              <td><img src="../../../assets/skills-prgramminglanguage-logo/java.svg" class="my-1 p-1" width="64" height="64" alt="java"></td>
              <td><img src="../../../assets/skills-prgramminglanguage-logo/javascript.svg" class="my-1 p-1" width="64" height="64" alt="javascript"></td>
            </tr>
          </tbody>
        </table>
      
 

<!--  

<nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Fixed bottom</a>
</nav> -->