
<!-- CRUD Form -->
<div class="h4">
    Board Edit Form
</div>

<button class="btn btn-primary" *ngIf="isLoading" type="button" disabled>
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  Loading...
</button>

<form [formGroup]="boardEditForm" *ngIf="!isLoading" (ngSubmit)="onSubmit()">
    <div class="form-group">
  
        <label for="inputEmail4">Title</label>
        <input type="text" 
               class="form-control" 
               formControlName= "mainTitle" 
               id="inputEmail4">
    </div>
    <div class="form-group">
        <label for="inputPassword4">Sub-Title</label>
        <input type="text" 
               class="form-control centered" 
               formControlName="extraTitle" 
               id="inputPassword4">
      
    </div>
    <div class="form-group">
      <label for="inputAddress">Date</label>
      <input type="text" 
             class="form-control" 
             id="inputAddress" 
             formControlName= "date" 
             placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Description</label>
      <input type="textArea" 
             class="form-control" 
             id="inputAddress2" 
             formControlName= "contents" 
             placeholder="Write the description of this board">
    </div>


    <div class="form-group" *ngIf="mode === 'create'">
      <label for="boardCategory"> Choose Category </label>
      <div class="input-group">
        <select class="custom-select" id="boardCategory" (change)="getCategory($event)" aria-label="Example select with button addon">
          <option value="" disabled>Choose Category</option>
          <option *ngFor="let category of Category" [ngValue]="category">{{category}}</option>
   
        </select>
   
      </div>
  
    </div>


    <button type="submit"  class="btn btn-primary">Submit</button>
   
  </form>

  <!-- CRUD Form End -->