  <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-dark bg-dark ">
    <a class="navbar-brand" href="#">Resume Project</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Education <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Skills</a>
        </li>

      </ul>

 
      <div class="inline my-2 my-lg-0">

         <div class="nav-item dropdown" *ngIf="!isUserAuthenticated">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Authentification
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" routerLink="/login" href="#">Login</a>
            <a class="dropdown-item" routerLink="/signup" href="#">SignUp</a>
          </div>
        </div>

        <a class="nav-link my-2 my-sm-0" *ngIf="isUserAuthenticated" (click)="onLogout()" type="button">Logout</a>
  
      </div>
    </div>

  </nav>

